.clock-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  max-width: 300px;
}

.main-clock {
  border-radius: 35px;
  font-size: 2.5rem;
  line-height: 4.25rem;
  margin: 0 20px;
  padding: .5rem;
  text-align: center;
  height: 4.25rem;
  width: 10rem;
}

.btns {
  color: silver;
  font-size: 40px;
  margin: 10px 3px;
}

.work {
  background-color: whitesmoke;
}

.break {
  background-color: rgb(121, 228, 255);
}