.action-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 75%;
}

.btn {
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: .5em;
  margin: .25rem;
  width: 100px;
}

.start {
  background-color:#CBDE9B;
}

.pause {
  background-color: #AEE8E4;
}

.reset {
  background-color:#F2ED6F;
}
